doctype html
html
    head
        title
        link(rel='stylesheet', href='/stylesheets/css/style.css')
        link(rel='stylesheet', href='/stylesheets/bower_components/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/bower_components/bootstrap/dist/css/bootstrap-theme.min.css')
    body(ng-app='validationApp', ng-controller='mainController')
        script(src='/javascripts/bower_components/angular/angular.js')
        script(src='/javascripts/controllers/loginValidation.js')
        nav.navbar.navbar-inverse
            .container-fluid
                #myNavbar.collapse.navbar-collapse
                    ul.nav.navbar-nav.nav-tabs
                        li
                            a(href='#') Home
                        li
                            a(href='#menu') Menu
                        li
                            a(href='#about') About
                        li
                            a(href='#contact') Contact
                        li
                            button.btn.btn-primary.btn-lg(data-toggle='modal', data-target='#myModal')
                                #cart
                                    span.glyphicon.glyphicon-shopping-cart Cart
                            #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
                                .modal-dialog
                                    .modal-content
                                        .modal-header
                                            button.close(type='button', data-dismiss='modal')
                                                span(aria-hidden='true') ×
                                                span.sr-only Close
                                            h4#myModalLabel.modal-title Modal title
                                        .modal-body ...
                                        .modal-footer
                                            button.btn.btn-default(type='button', data-dismiss='modal') Close
                                            button.btn.btn-primary(type='button') Save changes
                    ul.nav.navbar-nav.navbar-right
                        ul.nav.navbar-nav.nav-tabs
                            li
                                a(href='/login')
                                    span.glyphicon.glyphicon-log-in Login
        .container
            .col-sm-6.col-sm-offset-3
                h1
                    span.fa.fa-sign-in
                    |  Login
                    -if(message)
                        .alert.alert-danger !{message}
                // LOGIN FORM
                form(name='userForm', action='/login', method='post', novalidate='')
                    .form-group
                        label Username
                        input.form-control(type='text', name='userName', ng-model='user.userName', ng-minlength='3', ng-maxlength='8', required='')
                        p.help-block(ng-show='userForm.userName.$invalid && !userForm.userName.$pristine && userForm.userName.$error.minlength') Username is too short.
                        p.help-block(ng-show='userForm.userName.$invalid && !userForm.userName.$pristine && userForm.userName.$error.maxlength') Username is too long.
                    .form-group
                        label Password
                        input.form-control(type='password', name='password', ng-model='password', ng-minlength='6', required='')
                        p.help-block(ng-show='userForm.password.$invalid && !userForm.password.$pristine && userForm.password.$error.minlength') Password is too short.
                    button.btn.btn-primary.btn-lg(type='submit', ng-disabled='userForm.$invalid') Login
                hr
                p
                    | Need an account?
                    a(href='/signup') Signup
                p
                    | Or go
                    a(href='/') home
                    | .
        footer
            .navbar.navbar-inverse.navbar-fixed-bottom
                .container
                    #footer-body.navbar-collapse.collapse
                        ul.nav.navbar-nav
                            li
                                a(href='#') Browse Our Library
                            li
                                a(href='#') About Us
                            li
                                a(href='#') Contact Us
                            li
                                a(href='#') Our Partners
                            li
                                a(href='#') User Review
                            li
                                a(href='#') Terms & Conditions
                            li
                                a(href='#') Privacy Policy
                    .navbar-header
                        button.navbar-toggle(type='button', data-toggle='collapse', data-target='#footer-body')
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        ul.footer-bar-btns.visible-xs
                            li
                                a.btn(href='#', title='History')
                                    i.fa.fa-2x.fa-clock-o.blue-text
                            li
                                a.btn(href='#', title='Favourites')
                                    i.fa.fa-2x.fa-star.yellow-text
                            li
                                a.btn(href='#', title='Subscriptions')
                                    i.fa.fa-2x.fa-rss-square.orange-text
