doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/css/style.css')
        link(rel='stylesheet', href='/stylesheets/bower_components/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/bower_components/bootstrap/dist/css/bootstrap-theme.min.css')
    body
        script(src='/javascripts/bower_components/angular/angular.js')
        block content
            nav.navbar.navbar-inverse
                .container-fluid
                    #myNavbar.collapse.navbar-collapse
                        ul.nav.navbar-nav.nav-tabs
                            li
                                a(href='#') Home
                            li
                                a(href='#menu') Menu
                            li
                                a(href='#about') About
                            li
                                a(href='#contact') Contact
                            li
                                a(href='Cart.html')
                                    #cart
                                        span.glyphicon.glyphicon-shopping-cart Cart
                        ul.nav.navbar-nav.navbar-right
                            ul.nav.navbar-nav.nav-tabs
                                li
                                    a(href='login.html')
                                        span.glyphicon.glyphicon-log-in Login


        footer
            .navbar.navbar-inverse.navbar-fixed-bottom
                .container
                    #footer-body.navbar-collapse.collapse
                        ul.nav.navbar-nav
                            li
                                a(href='#') Browse Our Library
                            li
                                a(href='#') About Us
                            li
                                a(href='#') Contact Us
                            li
                                a(href='#') Our Partners
                            li
                                a(href='#') User Review
                            li
                                a(href='#') Terms & Conditions
                            li
                                a(href='#') Privacy Policy
                    .navbar-header
                        button.navbar-toggle(type='button', data-toggle='collapse', data-target='#footer-body')
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        ul.footer-bar-btns.visible-xs
                            li
                                a.btn(href='#', title='History')
                                    i.fa.fa-2x.fa-clock-o.blue-text
                            li
                                a.btn(href='#', title='Favourites')
                                    i.fa.fa-2x.fa-star.yellow-text
                            li
                                a.btn(href='#', title='Subscriptions')
                                    i.fa.fa-2x.fa-rss-square.orange-text

