doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/css/style.css')
        link(rel='stylesheet', href='/stylesheets/bower_components/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/bower_components/bootstrap/dist/css/bootstrap-theme.min.css')
    body
        script(src='/javascripts/bower_components/angular/angular.js')
        block content
            nav.navbar.navbar-inverse
                .container-fluid
                    #myNavbar.collapse.navbar-collapse
                        ul.nav.navbar-nav
                            li.active
                                a(href='#') Home
                            li
                                a(href='#menu') Menu
                            li
                                a(href='#about') About
                            li
                                a(href='#contact') Contact
                        ul.nav.navbar-nav.navbar-right
                            li
                                a(href='login.html')
                                    span.glyphicon.glyphicon-log-in
                                    |  Login
