doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/css/style.css')
        link(rel='stylesheet', href='/stylesheets/bower_components/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/bower_components/bootstrap/dist/css/bootstrap-theme.min.css')
    body
        script(src='/javascripts/bower_components/angular/angular.js')
        script(type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
        script(type='text/javascript' src='/javascripts/bower_components/angular/bin/popup.js')


        block content
            nav.navbar.navbar-inverse
                .container-fluid
                    #myNavbar.collapse.navbar-collapse
                        ul.nav.navbar-nav.nav-tabs
                            li
                                a(href='#') Home
                            li
                                a(href='#menu') Menu
                            li
                                a(href='#about') About
                            li
                                a(href='#contact') Contact
                            li
                                a(href='#Cart')
                                    #cart
                                        span.glyphicon.glyphicon-shopping-cart Cart
                            li
                                form.navbar-form(role='search')
                                    .input-group
                                        input#srch-term.form-control(type='text', placeholder='Search', name='srch-term')
                                        .input-group-btn
                                            button.btn.btn-default(type='submit')
                                                i.glyphicon.glyphicon-search

                        ul.nav.navbar-nav.navbar-right
                            li
                                a#modal_trigger(href='#modal')
                                    span.glyphicon.glyphicon-log-in Login




        footer
            .navbar.navbar-inverse.navbar-fixed-bottom
                .container
                    #footer-body.navbar-collapse.collapse
                        ul.nav.navbar-nav
                            li
                                a(href='#') Browse Our Library
                            li
                                a(href='#') About Us
                            li
                                a(href='#') Contact Us
                            li
                                a(href='#') Our Partners
                            li
                                a(href='#') User Review
                            li
                                a(href='#') Terms & Conditions
                            li
                                a(href='#') Privacy Policy
                    .navbar-header
                        button.navbar-toggle(type='button', data-toggle='collapse', data-target='#footer-body')
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        ul.footer-bar-btns.visible-xs
                            li
                                a.btn(href='#', title='History')
                                    i.fa.fa-2x.fa-clock-o.blue-text
                            li
                                a.btn(href='#', title='Favourites')
                                    i.fa.fa-2x.fa-star.yellow-text
                            li
                                a.btn(href='#', title='Subscriptions')
                                    i.fa.fa-2x.fa-rss-square.orange-text

    .container
        #modal.popupContainer(style='display:none;')
            header.popupHeader
                span.header_title Login
                span.modal_close
                    i.fa.fa-times
                    a#close.btn.btn_red(href='#') x
            section.popupBody
                // Username & Password Login form
                .user_login
                    form
                        label Email / Username
                        input(type='text')
                        br
                        label Password
                        input(type='password',maxlength=8)
                        br
                        .action_btns
                            .one_half
                                a.btn.btn_red(href='#') Login
                                    i.fa.fa-angle-double-left
                            .one_half.last
                                a#newuser.btn.btn_red(href='#') New User
                    a.forgot_password(href='#') Forgot password?
                // Register Form
                .user_register
                    form
                        label Username
                        input(type='text',maxlength=8)
                        br
                        label Email Address
                        input(type='email')
                        br
                        label Password
                        input(type='password')
                        br
                        label Name
                        input(type='text')
                        br
                        label Address
                        input(type='text')
                        br
                        label Phone No
                        input(type='tel')
                        br
                        label Zipcode
                        input(type='number',maxlength=8)
                        br


                        .action_btns
                            .one_half
                                i.fa.fa-angle-double-left
                                a.btn.btn_red(href='#') Register
                            .one_half.last
                                a#existinguser.btn.btn_red(href='#') Back

