extends layout

block append content
    .container
        div(ng-app='menu', ng-controller='MenuCtrl as app')
            section.container-fluid.text-center
                .row.slideanim.slide
                    .col-sm-4(ng-repeat='product in app.products')
                        img.row.productImage(src='{{product.image}}', alt='{{product.name}}')
                        .row
                            h3 {{product.name}}
                            p{{product.description}}
                            button.btn.btn-primary.btn-sm(type='button') Order Now
    script(src='/javascripts/controllers/menuController.js')
